@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
  outline: none;
}

a:focus,
li:focus {
  outline: none;
}

body {
  padding-right: 0px !important;
  background: #e2e7e8;
}
ul {
  list-style: none;
}

button {
  border: 0;
}
#main {
  padding-top: 15vh;
}

#menu {
  background: white;
  box-shadow: 0px 0px 30px #0000001a;
  max-height: 90vh;
}

#presentArea {
  background: #e7ebed;
  box-shadow: 0px 0px 30px #0000001a;
}

.serarchBarInput {
  width: 90%;
  border: 2px solid #83ac75 !important;
}

.serarchBarBtn {
  margin-left: -5px;
  background: #83ac75;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid #83ac75;
  width: 5%;
}

.font-size-08rem {
  font-size: 0.8rem;
}

.letter-spacing-015rem {
  letter-spacing: 0.15rem;
}

.border-bottom-success {
  border-bottom: 3px solid #439a23;
}

.font-size-2rem {
  font-size: 2rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
  }
}

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
}

*.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}

*.show,
.modal {
  padding-right: 0 !important;
}

.cardFontColor {
  color: #707070;
}

.toast {
  position: fixed;
  top: 15vh;
  right: 0;
}

.color-439A23 {
  color: #439a23;
}
