#planeBody {
  background: url(../images/abs-adult-athlete-1229356.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#nutritionBar {
  background: #00000066 0% 0% no-repeat padding-box;
}

#dateBar {
  background: #439a23 0% 0% no-repeat padding-box;
}

.selectStyle {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

#main {
  background: #e2e7e8 0% 0% no-repeat padding-box;
}

#mainBody {
  background: #e7ebed 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 30px #0000001a;
}

.col-2-c {
  max-width: 13.5%;
  margin: 0 auto;
  padding: 0;
}

.imgSrc {
  background: url(../images/appetizer-close-up-cuisine-2122294@2x.png);
  background-size: cover;
  background-position: bottom;
}

.cardTitle {
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #838383;
}
.cardBody {
  text-align: center;
  font-size: 15px;
  color: #838383;
}

.cardDetail {
  text-decoration: underline;
  font-size: 15px;
  color: #838383;
}

.mealHr {
  background: #b2b2b2;
  border: 1px solid #b2b2b2;
}

.checkHr {
  background: #707070;
  border: 3px solid #707070;
}
.btn-addCart {
  background: #439a23;
  width: 15%;
  border-radius: 10px;
}

.font-color {
  color: #838383;
}

.nutritionCircle {
  width: 75%;
  border: 3px solid white;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
  }
}

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
}

*.modal-open {
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 0 !important;
}

*.show {
  padding-right: 0 !important;
}

.tab-header {
  /* border: 3px solid #c9e6bf; */
  background: #f4f8f2;
  color: #838383;
}

.tab-header-left {
  border-top: 3px;
  border-bottom: 3px;
  border-right: 3px;
  border-left: 3px;
  border-style: solid;
  border-color: #c9e6bf;
  border-radius: 5px 0px 0px 0px;
}
.tab-header-right {
  border-top: 3px;
  border-bottom: 3px;
  border-right: 3px;
  border-left: 0px;
  border-style: solid;
  border-color: #c9e6bf;
  border-radius: 0px 5px 0px 0px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.active {
  background: white;
}

.tab_container {
  border-top: 0;
  border-bottom: 3px;
  border-right: 3px;
  border-left: 3px;
  border-style: solid;
  border-color: #c9e6bf;
  border-radius: 0px 0px 5px 5px;
  height: 26vh;
}

.abgne_tab a {
  color: #838383;
}

.active li a {
  color: #439a23;
}

.color-838383 {
  color: #838383;
}

.hover_shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.hover_shadow:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
