<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <nav id="navbar">
      <div id="navbar_top">
        <table class="nav_top">
          <tr>
            <td valign="middle" style="padding-left: 1.2rem" width="33%">
              健康餐點 ＋ 食譜社群平台
            </td>
            <td valign="middle" align="center" width="33%">
              <img src="images/logo.svg" width="150px" />
            </td>
            <td
              align="right"
              style="padding-right: 1.2rem; color: rgb(33, 116, 0);"
              width="33%"
            >
              <a href="#">會員登入</a><span>&nbsp;&nbsp; | &nbsp;&nbsp;</span
              ><a href="#">註冊</a>
            </td>
          </tr>
        </table>
      </div>

      <div id="navbar_menu">
        <span class="menuText"
          >健康飲食計劃餐 <img src="images/arrowDown.svg"
        /></span>
        <span class="menuText"
          ><a class="text-white" href="shopMaterial.html?category=all&page=1">
            食材選購 <img src="images/arrowDown.svg"/></a
        ></span>
        <span class="menuText">食譜社群</span>
        <span class="menuText">常見問答</span>
      </div>
    </nav>
  </body>
</html>
